ul.unstyled.zebra-striped
  for comment in comments
    li.dashboard-comment
      .comment-header
        .comment-name= comment.name
        .comment-email: a(href='mailto:' + comment.email)= comment.email
        .comment-website: a(href=comment.website)= comment.website
        .clearfix
      .comment-content
        != comment.content
