.entry#dashboard
  != messages()
  ul.tabs(data-tabs='tabs')
    li.active: a(href='#posts-tab') Posts
    li: a(href='#comments-tab') Comments
    li: a(href='#new-post-tab') New Post

  .tab-content
    #posts-tab.active.tab-pane
      != partial('posts', { posts: posts })
    #comments-tab.tab-pane
      != partial('comments')
    #new-post-tab.tab-pane
      != partial('posts/form', { post: newPost })
