.entry#dashboard
  ul.tabs(data-tabs='tabs')
    li.active: a(href='#dashboard-posts') Posts
    li: a(href='#dashboard-comments') Comments
    li: a(href='/posts/new') New Post

  .tab-content
    #dashboard-posts.active.tab-pane
      != partial('posts', { posts: posts })
    #dashboard-comments.tab-pane
      != partial('comments')
