li
  article.comment
    .comment-author
      img(src=gravatarUrl(comment), alt='gravatar').gravatar
      .comment-name= comment.name
    .comment-body
      .comment-meta= commentMeta(comment)
      .comment-content!= comment.content
  .clearfix
