a(href='#').comments-info
  if comments.length == 0
    = 'Leave a comment'
  else
    #{comments.length + (comments.length == 1 ? ' comment' : ' comments')}

.comments
  ul.comments-list.unstyled
    != partial('comment', comments)

  != partial('form')
