.form(method='post', action=(postPath(post) + '/comments'), 
  accept-charset='utf-8').comment-form
  fieldset
    textarea
    .comment-form-meta
      .clearfix
        input(type='text', name='comment[name]', placeholder='Name')
      .clearfix
        input(type='email', name='comment[email]', placeholder='Email')
      .clearfix
        input(type='url', name='comment[website]', placeholder='Website')
      label.keep-notify
        input(type='checkbox', name='comment[notify]', checked)
        span Keep notified
      input(type='submit', value='Submit').btn
