.form(method='post', action=(postPath(post) + '/comments'), 
  accept-charset='utf-8')
  fieldset
    .clearfix
      input(type='text', name='comment[name]')
      label(for='comment[name]')
    .clearfix
      input(type='email', name='comment[email]')
      label(for='comment[email]')
    .clearfix
      input(type='url', name='comment[website]')
      label(for='comment[website]')
    .clearfix
      textarea
    input(type='submit')
