@import "bootstrap.css";
html {
  overflow: hidden;
}
body {
  background: url("/images/background.png");
}
#header {
  height: 100px;
  padding-top: 20px;
  width: 840px;
  margin: 0 auto;
}
#navigator {
  margin: 30px 0;
  float: left;
}
#title {
  width: 840px;
  margin: 0 auto;
}
#title a {
  color: #eee;
}
#title a:hover {
  color: #fff;
  text-decoration: none;
}
#title h1 {
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 0;
}
#title h2 {
  font-size: 16px;
  line-height: 16px;
  color: #ddd;
  text-indent: 5px;
}
.container {
  padding-bottom: 50px;
  width: 840px;
  min-height: 1000px;
  clear: both;
}
#entry-list {
  clear: both;
}
.entry {
  color: #808080;
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #eee;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.20);
}
.entry-header {
  padding-bottom: 10px;
}
.entry-title a {
  color: #333;
}
.entry-meta {
  line-height: 18px;
  font-size: 90%;
}
.entry ul,
.entry ol {
  margin: 0 0 18px 25px;
}
.pagination {
  text-align: center;
}
.pagination ul {
  float: none;
  display: inline-block;
  overflow: hidden;
  box-shadow: none;
  border: none;
}
.pagination a {
  color: #fff;
  border: none;
  margin: 0 3px;
}
.pagination a:hover,
.pagination .active a {
  background-color: #eee;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.30);
}
.pagination .disabled {
  display: none;
}
input[type=text],
textarea {
  width: 100%;
  padding: 4px 0;
  resize: vertical;
}
.form-stacked {
  padding-left: 0;
}
.form-stacked .actions {
  padding-bottom: 30px;
  margin-right: -20px;
  margin-bottom: -40px;
  border-radius: 0 0 10px 10px;
}
.form-stacked .actions .btn {
  margin-right: 5px;
}
#footer {
  height: 250px;
  border-top: none;
  margin-top: -10px;
}
ul.error > li {
  color: #f30;
  font-size: 16px;
}
.colorbar {
  position: absolute;
  display: block;
  width: 30px;
  left: 50%;
  top: -1px;
  border: 1px solid rgba(0,0,0,0.40);
  border-radius: 0 0 3px 3px;
}
#bar1 {
  height: 50px;
  margin-left: 250px;
  background-color: rgba(255,50,0,0.70);
}
#bar2 {
  height: 65px;
  margin-left: 281px;
  background-color: rgba(255,255,0,0.70);
}
#bar3 {
  height: 75px;
  margin-left: 312px;
  background-color: rgba(0,200,255,0.70);
}
#bar4 {
  height: 60px;
  margin-left: 343px;
  background-color: rgba(0,255,100,0.70);
}
code {
  font-family: monaco, monospace;
}
