container-width = 840px
overlay-color = rgba(0, 0, 0, 0.3)
overlay-border = 1px solid #232323

body
  background url('/images/fabric_1.png') 

h1, h2, h3, h4, h5, h6
  color #555

li
  line-height 21px

blockquote p
  font-style italic

/// header

.topbar 
  position absolute

 
/// container

.container
  width container-width
  clear both

.body-container
  width container-width
  margin 0 auto
  clear both
  margin-top 90px

/// entry

#entry-list
  clear both

.entry
  color #666
  background-color #fff
  padding 30px
  margin-bottom 50px
  box-shadow 0 0 3px rgba(0, 0, 0, 0.1)
  font-size 14px
  line-height 21px


.entry p
  font-size 14px
  line-height 21px

.entry-header
  padding-bottom 10px
  margin-bottom 20px
  border-bottom 1px solid rgba(0, 0, 0, 0.1)

.entry-title a
  color #555
  font-size 28px

.entry-title a:hover
  color #666
  text-decoration none
  
.entry ul, .entry ol
  margin 0 0 18px 25px
  
.entry-meta
  position absolute
  width 60px
  height 60px
  background rgba(0, 100, 200, 0.6)
  margin-left -90px
  margin-top -50px
  text-align center
  color #fff

.entry-day
  margin-top 12px
  font-size 30px
  font-weight bold

.entry-month
  margin-top 3px
  font-size 16px
  font-weight bold

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6
  padding-top 3px
  padding-bottom 15px

/// pagination

.pagination
  text-align center

.pagination ul
  float none
  display inline-block
  overflow hidden
  box-shadow none
  border none

.pagination a
  color #777
  border none
  background #fff
  margin 0 5px

.pagination a:hover, .pagination .active a 
  background-color #bbb
  color #fff

.pagination .disabled
  display none

/// form

.topbar form
  margin-top 8px

.btn
  border none
  background rgba(0, 100, 200, 0.7)
  border-radius 0
  -moz-transition none
  color #fff
  text-shadow none
  font-weight bold

.btn:hover
  color #fff
  background rgba(0, 100, 200, 0.8)

.btn:focus,
.btn:active
  box-shadow none

.btn.cancel
  background rgba(200, 20, 0, 0.7)

.btn.cancel:hover
  background rgba(200, 20, 0, 0.8)


.entry input[type=text], .entry textarea
  width 100%
  padding 4px 0

.entry textarea
  resize vertical

.form-stacked
  padding-left 0

.form-stacked .actions 
  margin-left -30px
  margin-right -30px
  margin-bottom -48px
  padding-bottom 20px
  padding-left 30px

.form-stacked .actions .btn
  margin-right 5px

.inputs-list
  margin-left 0 !important

input[type=text],
input[type=email],
input[type=url]
  margin-bottom 5px
  border-radius 0
  border 1px solid rgba(0, 0, 0, 0.2)
  box-shadow none
  height 12px
  
input[type=text]:focus
input[type=email]:focus
input[type=url]:focus
  border-color rgba(82, 168, 236, 0.8)
  box-shadow 0 0 5px rgba(82, 168, 236, 0.3)

textarea
  border-radius 0
  border 1px solid rgba(0, 0, 0, 0.2)
  box-shadow none

textarea:focus
  border-color rgba(82, 168, 236, 0.8)
  box-shadow 0 0 5px rgba(82, 168, 236, 0.3)

.comment-form
  clear both

.comment-form textarea
  float left
  width 540px
  height 95px
  margin-right 10px


.comment-form-meta
  float left

.comment-form .clearfix
  margin 0

.comment-form input[type=text]
  padding 4px
  width 210px


.comment-form label
  margin-left 10px
  float none 
  font-size 12px
  color #777

.keep-notify
  opacity 0
  line-height 21px
  margin-left 0 !important
  
.keep-notify input
  margin-right 5px
  vertical-align bottom
  margin-bottom 5px

.keep-notify span
  line-height 20px

.comment-form input[type=submit]
  float right

/// comments

.comments
  margin-top 40px !important
  margin-left 0 !important
  margin-bottom 0 !important

.comments>li
  padding-top 15px
  padding-bottom 15px
  line-height normal !important
  border-top 1px solid rgba(0, 0, 0, 0.15)

.comment-author
  float left
  display block
  width 100px
  text-align center
  
.comment-name
  font-size 13px

.comment-body
  float left
  width 650px

.comment-meta
  font-size 11px
  margin-top -3px
  margin-bottom 3px

/// footer

#footer
  height 250px
  border-top none
  margin-top -10px

/// messages

ul.error > li
  color #f30
  font-size 16px

ul.info > li
  color rgba(0, 150, 0, 0.7)
  font-size 16px

/// code

pre
  border-top 1px solid rgba(0, 0, 0, 0.15)
  border-bottom 1px solid rgba(0, 0, 0, 0.15)
  border-left none
  border-right none
  border-radius 0

code
  font-family monospace, "consolas", "courier new"
  background #f5f5f5 !important
  line-height 16px

/// login

#login-form
  width 300px
  margin 200px auto
  padding 30px
  background #fff
  text-align center
  box-shadow 0 0 3px rgba(0, 0, 0, 0.1)
  border-radius 10px

#login-form label
  text-align center
  font-size 28px
  float none

#login-form input[type=password]
  float none
  margin 10px auto 0
  display block

#login-form input[type=submit]
  float none
  margin-top 10px

.clearfix
  clear both

/// dashboard

.new-post-link
  float right
  margin-right 20px
  margin-top 15px
  font-weight bold

table caption
  border-bottom 1px solid rgba(0, 0, 0, 0.2)

table caption h3
  float left

.post-delete-link
  padding 0
  background none
  border none
  box-shadow none
  font-weight bold
  font-size 100%
  color #0069d6
  height 18px !important

.post-delete-link:hover
  color #00438a
  text-decoration underline
