html {
  overflow: hidden;
}
body {
  background: url("/images/fabric_1.png");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555;
}
li {
  line-height: 21px;
}
.topbar {
  position: absolute;
}
.container {
  width: 840px;
  clear: both;
}
.body-container {
  width: 840px;
  margin: 0 auto;
  clear: both;
  margin-top: 90px;
}
#entry-list {
  clear: both;
}
.entry {
  color: #666;
  background-color: #fff;
  padding: 30px;
  margin-bottom: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.10);
  font-size: 14px;
  line-height: 21px;
}
.entry p {
  font-size: 14px;
  line-height: 21px;
}
.entry-header {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.10);
}
.entry-title a {
  color: #555;
  font-size: 28px;
}
.entry-title a:hover {
  color: #666;
  text-decoration: none;
}
.entry ul,
.entry ol {
  margin: 0 0 18px 25px;
}
.entry-meta {
  position: absolute;
  width: 60px;
  height: 60px;
  background: rgba(0,100,200,0.30);
  margin-left: -90px;
  margin-top: -50px;
  text-align: center;
  color: #fff;
}
.entry-day {
  margin-top: 12px;
  font-size: 30px;
  font-weight: bold;
}
.entry-month {
  margin-top: 3px;
  font-size: 16px;
  font-weight: bold;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  padding: 15px 0;
}
.pagination {
  text-align: center;
}
.pagination ul {
  float: none;
  display: inline-block;
  overflow: hidden;
  box-shadow: none;
  border: none;
}
.pagination a {
  color: #777;
  border: none;
  background: #fff;
  margin: 0 5px;
}
.pagination a:hover,
.pagination .active a {
  background-color: #bbb;
  color: #fff;
}
.pagination .disabled {
  display: none;
}
.entry input[type=text],
.entry textarea {
  width: 100%;
  padding: 4px 0;
  resize: vertical;
}
.form-stacked {
  padding-left: 0;
}
.form-stacked .actions {
  padding-bottom: 30px;
  margin-right: -20px;
  margin-bottom: -40px;
  border-radius: 0 0 10px 10px;
}
.form-stacked .actions .btn {
  margin-right: 5px;
}
#footer {
  height: 250px;
  border-top: none;
  margin-top: -10px;
}
ul.error > li {
  color: #f30;
  font-size: 16px;
}
pre {
  border-top: 1px solid rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  border-left: none;
  border-right: none;
  border-radius: 0;
}
code {
  font-family: monaco, monospace;
  background: #f5f5f5 !important;
  line-height: 16px;
}
