body
  background url('/images/background.png') 
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

.container
  margin-top 30px

#logo h1
  margin 0

#logo a
  color #ddd

#logo a:hover
  color #eee
  text-decoration none

#logo h2
  margin-top -10px
  margin-bottom 10px

.entry
  padding 20px
  background #fff
  //margin-bottom 20px
  //border-radius 10px
  //box-shadow 0 0 10px rgba(0, 0, 0, 0.3)
  border-bottom 1px solid #eee

.entry-header
  padding-bottom 10px

.entry-meta
  font-size 75%
