body
  background url('/images/background.png') 
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

.container
  margin-top 40px

.entry
  padding 10px
  background #fff
  margin-bottom 20px
  border-radius 10px
  box-shadow 0 0 10px rgba(0, 0, 0, 0.3)

.entry-meta
  font-size 75%
