extends ../layouts/layout
block content
  form(action='/login', method='post')#login-form
    mixin messages
    label(for='id') Login with OpenID
    input(type='text', name='id')
    input(type='submit', value='Submit').btn
