.topbar
  .topbar-inner
    .container
      a(href='/').brand= config.sitename
      ul.nav
        for page in pages
          li: a(href='/' + page.slug)= page.title
        li: a(href='/feed') Feed
      form(id='search', action='/search').pull-left
        input(type='text', placeholder='Search')
      ul.nav.secondary-nav
        if loggedIn
          li: a(href='/admin/') Dashboard
          li: a(href='/logout') Logout
        else
          li: a(href='/login') Login
