article.entry.post
  header.entry-header
    h2.entry-title
      a(href=postPath(post))= post.title
    .entry-meta 
      .entry-day= postDay(post)
      .entry-month= postMonth(post)
  .entry-content
    != post.content

  != partial('comments/comments', { comments: post.comments })
