.comment-form
  clear both
  fieldset
    padding-top 0
  textarea
    float left
    width 540px
    min-height 105px
    margin-right 10px
    font-size 14px
  .clearfix
    margin 0
  input[type=text]
    padding 4px
    width 210px
  label
    margin-left 10px
    float none 
    font-size 12px
    color #777
  input[type=submit]
    float right

.comment-form-meta
  float left

.keep-notify
  opacity 0
  line-height 21px
  margin-left 0 !important
  
.keep-notify 
  input
    margin-right 5px
    vertical-align bottom
    margin-bottom 5px
  span
    line-height 20px

.comments-info
  margin-top 20px
  display block

.comments-list
  margin-top 20px !important
  margin-left 0 !important
  margin-bottom 0 !important
  >li
    padding-top 15px
    padding-bottom 15px
    line-height normal !important
    border-top 1px solid rgba(0, 0, 0, 0.15)
    &:hover
      background rgba(0, 0, 0, 0.02)

.comment-author
  float left
  display block
  width 100px
  text-align center
  
.comment-name
  font-size 13px

.comment-body
  float left
  width 650px

.comment-meta
  font-size 11px
  margin-top -3px
  margin-bottom 3px


/// textarea toolbar

.toolbar-list
  padding 0
  margin 5px 0 !important

.toolbar-list>li
  display inline
  margin-right 5px
  padding 1px 4px
  border 1px solid #fff

.toolbar-list>li.active
  border 1px solid rgba(0, 0, 0, 0.1)

.toolbar-list a
  color #777
  font-size 12px

.toolbar-list a:hover
  color #666

.preview
  float left
  border 1px solid rgba(0, 0, 0, 0.2)
  padding 4px 0
  min-height 105px
  width 100%

.comment-form .preview
  margin-right 10px
  width 540px
