.new-post-link
  float right
  margin-right 20px
  margin-top 15px
  font-weight bold

table 
  caption
    border-bottom 1px solid rgba(0, 0, 0, 0.2)
    h3
      float left

.post-delete-form
  margin 0
  padding 0

.post-delete-link
  line-height 18px
  padding 0
  background none
  border none
  box-shadow none
  font-size 100%
  color #0069d6
  height 18px !important
  &:hover
    color #00438a
    text-decoration underline
  &:focus
    box-shadow none

#comments-tab>ul
  margin-left 0

.comment-read-form
  text-align right
  margin-top 5px
  margin-bottom 0
  padding-bottom 5px
  border-bottom 1px solid #ddd
  .comment-read-link
    margin-right 7px
    line-height 18px
    padding 0
    background none
    border none
    box-shadow none
    font-size 13px
    color #0069d6
    height 18px !important
    &:hover
      color #00438a
      text-decoration underline
    &:focus
      box-shadow none

.dashboard-comment
  border-bottom 1px solid #ddd
  .comment-author
    margin-top 7px
    float left
    width 15%
  .comment-content
    float left
    width 85%
  .comment-header
    font-size 12px
    border-bottom 1px solid #ddd
  .comment-email
    float left
    width 30%
  .comment-time
    float left
    width 30%
  .comment-delete-form
    margin-bottom 0
  .comment-delete-link
    float right
    margin-top 0
    margin-right 10px
    top 3px
    color #0069D6
    &:hover
      color #00438a
