#login-form
  width 300px
  margin 200px auto
  padding 30px
  background #fff
  text-align center
  box-shadow 0 0 3px rgba(0, 0, 0, 0.1)
  label
    text-align center
    font-size 20px
    float none

  input[type=text]
    float none
    margin 10px auto 0
    display block

  input[type=submit]
    float none
    margin-top 10px
  .error
    margin 0px 0px 18px 0px
    list-style none
