.new-post-link
  float right
  margin-right 20px
  margin-top 15px
  font-weight bold

table 
  caption
    border-bottom 1px solid rgba(0, 0, 0, 0.2)
    h3
      float left

.post-delete-form
  margin 0
  padding 0

.post-delete-link,
.comment-delete-link
  line-height 18px
  padding 0
  background none
  border none
  box-shadow none
  font-size 100%
  color #0069d6
  height 18px !important
  &:hover
    color #00438a
    text-decoration underline
  &:focus
    box-shadow none

.comment-delete-link
  margin-top -10px
  color rgba(0, 0, 0, 0.6)
  font-weight normal
  position relative
  top -5px
  &:hover
    color rgba(0, 0, 0, 0.7)
