.topbar
  .topbar-inner
    .container
      a(href='/').brand= title
      ul.nav
        for page in pages
          li: a(href='/' + page.slug)= page.title
      form(action='/search').pull-left
        input(type='text', placeholder='Search')
