header#header
  hgroup#title
    h1
      a(href='/')= title
    h2= subtitle
  nav.pagination#navigator
    ul.unstyled
      li.active
        a(href='/') Home
      li
        a(href='/about') About
