.topbar
  .topbar-inner
    .container
      a(href='/').brand= title
      ul.nav
        li: a(href='/about') about
      form(action='/search').pull-left
        input(type='text', placeholder='Search')
