header#header
  #bars
    .colorbar#bar1
    .colorbar#bar2
    .colorbar#bar3
    .colorbar#bar4
  hgroup#title
    h1
      a(href='/')= title
    h2= subtitle
  nav.pagination#navigator
    ul.unstyled
      li.active
        a(href='/') Home
      li
        a(href='/about') About
