!!! 5
html
  head
    meta(charset='utf-8')
    title= app.settings.sitename
    != css('/stylesheets/application')
    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
  body
    include _header
    .body-container 
      block content
    include _footer
    != js('/javascripts/application')
