!!! 5
html
  head
    meta(charset='utf-8')
    title= app.settings.sitename
    != css('bundle')
    != js('bundle')
    //link(rel='stylesheet', href='/stylesheets/bundle.css')
    //script(src='/javascripts/jquery.js')
    //script(src='/javascripts/highlight.js')
    //script(src='/javascripts/main.js')
  body
    != partial('header')
    .body-container 
      != body
    != partial('footer')
