!!! 5
html
  head
    meta(charset='utf-8')
    title= app.settings.sitename
    != css('/stylesheets/application')
    != js('/javascripts/application')
  body
    include _header
    .body-container 
      != body
    include _footer
