!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bundle.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/highlight.js')
    script(src='/javascripts/main.js')
  body
    != partial('header')
    .body-container 
      != body
    != partial('footer')
